{% extends 'base.html' %}



{% block body_block %}
        <h1>Post a Job</h1>

        <form id="create_job_form" method="post" action="/snatch/create_job/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Job" />
        </form>
{% endblock %}
