{% extends 'base.html' %}

{% load bootstrap %}

{% block body_block %}
        <h1>Post a Job</h1>
        {% if posted %}
        Snatch says: <strong>Job Successfully Posted!</strong>
        <a href="/snatch/">Return to the homepage</a><br />
        <a href="/snatch/create_job">Post Another Job</a><br/>
        {% else %}
        <form id="create_job_form" method="post" action="/snatch/create_job/">
              {% csrf_token %}
              {{ form|bootstrap }}
              <select class="form-control" name="state">
                {%for state in states%}
                <option value="{{state}}">{{state}}</option>
                {%endfor%}
              </select>
              <br>
              <br>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
          {%endif%}
{% endblock %}
