{% extends 'base.html' %}
{% block title %}Index{% endblock %}

        {% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">

                <h1>Hello {{ user.username }}!</h1>
                {% load app_filters %}
              {%if profile.registered %}
                <p>REGISTERED</p>
                {%endif %}
              {% if user|has_type:"em" %} <p>User is employee</p> <a href="/snatch/create_company_profile">Create Profile</a>
                  {% else %} <p>User is an applicant</p> <a href="/snatch/create_user_profile">Create Profile</a>
                 {% endif %}
            {% else %}
                <h1>Welcome To Snatch!</h1>
            {% endif %}


</div>

{% endblock %}
