{% extends "base.html" %}
{% block title %}Job{% endblock %}

{% block body_block %}
  <h1>{{job.comapny.user.first_name}}</h1>
  <p>{{job.description}}</p>
  {% if owner %}
  <form id="delete" method="delete" action="/snatch/delete/job{{job.id}}">
    <input type="submit" value="Delete" class="btn btn-large btn-primary" /></input>
</form>
{%endif%}
{% load app_filters %}
{% if user|has_type:"ap" %}
<form id="apply" action="/snatch/apply/job{{job.id}}/">
  <input type="submit" value="Apply" class="btn btn-large btn-primary" /></input>
</form>
{%endif%}

{% endblock %}
