{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<script>
function finish() {
	var results = new Array("1","2","3","4","5","6","7","8","9","10","11","12");

	/// 1=None, 2=Creative, 3=Logical, 4=Problem Solver, 5=Communicator, 6=Listener, 7=Accurate, 8=Efficient, 9=Team Leader, 10=Team Member, 11=Analytical, 12=Risk-Taker

	var nums = new Array(12);
	for(var i = 0; i < nums.length; i++) nums[i] = 0;
	for(var i = 1; i <= 22; i++) {
		var q = document.forms['quiz'].elements['question_'+i];
		if(q[0].type=='checkbox') {
			var n = 0;
		}
		for(var j = 0; j < q.length; j++) {
			if(q[j].checked) {
				var a = q[j].value.split(',');
				for(var k = 0; k < a.length; k++) {
					nums[a[k]]++;
				}
				if(q[j].type=='radio') break;
				else n++;
			}
			if(j == q.length-1&&q[j].type=='radio') {nums[0]++;}
		}
		if(q[0].type=='checkbox'&&((document.forms['quiz'].elements['question_'+i+'_min']&&n<document.forms['quiz'].elements['question_'+i+'_min'].value)||(document.forms['quiz'].elements['question_'+i+'_max']&&n>document.forms['quiz'].elements['question_'+i+'_max'].value))) nums[0]++;
	}
	var j = new Array('0');
	for (i in nums) if(nums[i]>nums[j[0]]){j=new Array(''+i);} else if(nums[i]==nums[j[0]])j[j.length] = i;
	//var o = '';for(var i in results)o+=results[i]+'='+nums[i]+'\n';
	//alert(o);
	if(nums[0]!=0) {
		alert('You missed or incorrectly answered '+nums[0]+' questions!');
	}
	else if(j[0]==0) {
		alert('No result could be determined.');
	}
	else {
		alert(results[j[0]]);
	///This is where the jQuery will need to send the variable to our backend
	}
}
</script>
</head>
<body>
<form name="quiz" action="javascript:finish();">
<fieldset style="width:300px;">
<legend><strong>How did you find Snatch.com?</strong> </legend>
<font size="2" face="Verdana">
<input name="question_1" type="radio" value="4"> A friend</font><br /><font size="2" face="Verdana">
<input name="question_1" type="radio" value="5"> An advertisement</font><br /><font size="2" face="Verdana">
<input name="question_1" type="radio" value="9"> A colleague</font><br /><font size="2" face="Verdana">
<input name="question_1" type="radio" value="10"> While searching online</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>How many jobs will you apply to simultaneously?</strong> </legend>
<font size="2" face="Verdana">
<input name="question_2" type="radio" value="11"> As many as physically possible</font><br /><font size="2" face="Verdana">
<input name="question_2" type="radio" value="10"> A few at a time; focusing on each</font><br /><font size="2" face="Verdana">
<input name="question_2" type="radio" value="6"> Only one; I want each submission to be perfect</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>There's a new project at your office, you choose your role as:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_3" type="radio" value="8"> Project Manager</font><br /><font size="2" face="Verdana">
<input name="question_3" type="radio" value="3"> Technical Lead (Or Project Specialist)</font><br /><font size="2" face="Verdana">
<input name="question_3" type="radio" value="9"> Support/Group Member</font><br /><font size="2" face="Verdana">
<input name="question_3" type="radio" value="1"> Visionary (New idea-invoker)</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>A stack of data arrives at your desk and needs to be sorted, you will:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_4" type="radio" value="6"> Read each page carefully and fully, then sort by similarities</font><br /><font size="2" face="Verdana">
<input name="question_4" type="radio" value="7"> Read the cover page of each binded section, sorting by category</font><br /><font size="2" face="Verdana">
<input name="question_4" type="radio" value="3"> Put the stack of pages into a scanner, let it convert the pages to digital and sort them by algorithm while you take a lunch break</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>An angry customer wants a refund on an unwarrantied item. You:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_5" type="radio" value="2"> Show them the return policy and apologize</font><br /><font size="2" face="Verdana">
<input name="question_5" type="radio" value="4"> Discuss their issue until an agreement is made</font><br /><font size="2" face="Verdana">
<input name="question_5" type="radio" value="3"> Provide them with a replacement anyway and move on to the next customer</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>A big opportunity lies ahead, but it can put you out of business if failure occurs. You:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_6" type="radio" value="11"> Take the gig right away</font><br /><font size="2" face="Verdana">
<input name="question_6" type="radio" value="10"> Review the project and client for a while before consideration</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>Your boss is having a nervous break-down, you choose to:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_7" type="radio" value="9"> Let him/her freak out and wait for direction elsewhere</font><br /><font size="2" face="Verdana">
<input name="question_7" type="radio" value="11"> Tell your boss they are crazy and hope you get promoted</font><br /><font size="2" face="Verdana">
<input name="question_7" type="radio" value="8"> Send your boss to the loony bin and take his/her position</font><br /><font size="2" face="Verdana">
<input name="question_7" type="radio" value="4"> Coach your boss through their tough times and offer some help</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>What sounds more fun?</strong> </legend>
<font size="2" face="Verdana">
<input name="question_8" type="radio" value="1"> Paining a picture</font><br /><font size="2" face="Verdana">
<input name="question_8" type="radio" value="2"> Organizing your favorite collection</font><br /><font size="2" face="Verdana">
<input name="question_8" type="radio" value="3"> Completing a puzzle</font><br /><font size="2" face="Verdana">
<input name="question_8" type="radio" value="7"> Finishing your work/chores now for time off later</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>Do you enjoy fast-paced work?</strong> </legend>
<font size="2" face="Verdana">
<input name="question_9" type="radio" value="6"> No</font><br /><font size="2" face="Verdana">
<input name="question_9" type="radio" value="7"> Yes</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>How easy is it to take on a role handed to you?</strong> </legend>
<font size="2" face="Verdana">
<input name="question_10" type="radio" value="9"> Very Easy</font><br /><font size="2" face="Verdana">
<input name="question_10" type="radio" value="8"> I don't like being handed things</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>You are about to fire someone, your approach is to:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_11" type="radio" value="4"> Let them down easy; provide input on why</font><br /><font size="2" face="Verdana">
<input name="question_11" type="radio" value="2"> Give a stern reason and a deadline</font><br /><font size="2" face="Verdana">
<input name="question_11" type="radio" value="1"> Fill a can of worms with confetti which says "You're fired!"</font><br /><font size="2" face="Verdana">
<input name="question_11" type="radio" value="5"> Give them a chance to rebut your decision</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>You have a problem you don't fully understand, you...</strong> </legend>
<font size="2" face="Verdana">
<input name="question_12" type="radio" value="4"> Ask a colleague to explain it to you</font><br /><font size="2" face="Verdana">
<input name="question_12" type="radio" value="3"> Research for similar instances online</font><br /><font size="2" face="Verdana">
<input name="question_12" type="radio" value="10"> Gather all data about your issue and carefully review it further</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong> You are on-time, every time.</strong> </legend>
<font size="2" face="Verdana">
<input name="question_13" type="radio" value="6"> Yes</font><br /><font size="2" face="Verdana">
<input name="question_13" type="radio" value="11"> No</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>The assistance of others makes a complicated task easier to complete.</strong> </legend>
<font size="2" face="Verdana">
<input name="question_14" type="radio" value="8"> True</font><br /><font size="2" face="Verdana">
<input name="question_14" type="radio" value="3"> False</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>A product which works supersedes a product which looks good.</strong> </legend>
<font size="2" face="Verdana">
<input name="question_15" type="radio" value="2"> True</font><br /><font size="2" face="Verdana">
<input name="question_15" type="radio" value="1"> False</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>You are running with your department down a street and your boss looses his/her shoe. You:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_16" type="radio" value="8"> Take the lead of the group</font><br /><font size="2" face="Verdana">
<input name="question_16" type="radio" value="4"> Ask the group to help carry him/her</font><br /><font size="2" face="Verdana">
<input name="question_16" type="radio" value="11"> Steal a shoe from another runner outside of your group</font><br /><font size="2" face="Verdana">
<input name="question_16" type="radio" value="1"> Build a shoe out of banana leaves and a rubberband you found</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>Your idea of a successful project is:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_17" type="radio" value="2"> Processual and straight-lined</font><br /><font size="2" face="Verdana">
<input name="question_17" type="radio" value="7"> Multitasking members working in sync</font><br /><font size="2" face="Verdana">
<input name="question_17" type="radio" value="6"> Iterative and mile-stoned for perfection at each step</font><br /><font size="2" face="Verdana">
<input name="question_17" type="radio" value="11"> A fast sprint to the end regardless of quality</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>When finding solutions, I often:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_18" type="radio" value="1"> Try to create my own, unique solution</font><br /><font size="2" face="Verdana">
<input name="question_18" type="radio" value="2"> Review the problem and follow a logical approach</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>If a speech needs to be given at an event, I rather..</strong> </legend>
<font size="2" face="Verdana">
<input name="question_19" type="radio" value="8"> Give the speech</font><br /><font size="2" face="Verdana">
<input name="question_19" type="radio" value="5"> Sit back and listen</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>The key to winning a debate requires:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_20" type="radio" value="5"> An attentive ear</font><br /><font size="2" face="Verdana">
<input name="question_20" type="radio" value="10"> Lots of preparation</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>The best type of leader is one who:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_21" type="radio" value="7"> Can use his/her resources most efficiently</font><br /><font size="2" face="Verdana">
<input name="question_21" type="radio" value="5"> Hears/Sees all</font><br /><font size="2" face="Verdana">
<input name="question_21" type="radio" value="8"> Sets motivating goal</font><br /><font size="2" face="Verdana">
<input name="question_21" type="radio" value="10"> Assumes and calculates all risk</font><br />
</fieldset>
<br /><br /><fieldset style="width:300px;">
<legend><strong>The least desirable coworker would:</strong> </legend>
<font size="2" face="Verdana">
<input name="question_22" type="radio" value="6"> Never finish his/her task to the fullest</font><br /><font size="2" face="Verdana">
<input name="question_22" type="radio" value="7"> Have horrible time-management</font><br /><font size="2" face="Verdana">
<input name="question_22" type="radio" value="5"> Never listen to a word I say</font><br /><font size="2" face="Verdana">
<input name="question_22" type="radio" value="9"> Work independently without collaboration</font><br />
</fieldset>
<br /><br /> <INPUT TYPE="submit" value="Finish">
 <INPUT TYPE="reset" value="Reset">
</form>



{% endblock %}
