{% extends 'base.html' %}
{% block head%}

    <!-- Le styles -->
    <link href="bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

   	  .form-signin {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
		margin-left:22px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        padding: 11px 9px 10px 9px;
		width:300px;
      }
	.login{
	  padding: 15px;
	  width: 400px;
	  min-height: 400px;
	  margin: 2% auto 0 auto;
	}
	.login .heading { 
	  margin-top: 1%;
	}
	.login .heading h2 {
	  font-size: 3em;
	  font-weight: 300;
	  color: rgba(255, 255, 255, 0.7);
	  display: inline-block;
	  padding-bottom: 5px;
	  text-shadow: 1px 1px 3px #23203b;
	}
	.login form input.form-control {
	  display: block;
	  width: auto;
	  height: auto;
	  border: none;
	  outline: none;
	  box-shadow: none;
	  background: none;
	  border-radius: 0px;
	  padding: 10px;
	  font-size: 1.6em;
	  width: 100%;
	  background: transparent;
	  color: #c2b8b1;
	}
	.login form .input-group span {
	  background: transparent;
	  min-width: 53px;
	  border: none;
	  
	}
	.input-group {
	  margin-bottom: 15px;
	}
	
	.container.login-pag{
	  margin-top:85px;
	}
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

  {% endblock %}

  {%block body_block %}

    <div class="container login-pag">
      <form class="form-signin" method="post" action="/snatch/login/">
		<div class="login">
		<div class="heading"><h2>Sign in</h2></div>
        {% csrf_token %}
		<div class="input-group input-group-lg">
		<span class="input-group-addon text"><i class="fa fa-user"></i></span>
        <input type="text" name="username" class="input-block-level" placeholder="Username" style="padding:10px 9px;">
		</div>
		<div class="input-group input-group-lg">
		<span class="input-group-addon text"><i class="fa fa-lock"></i></span>
        <input type="password" name="password" class="input-block-level" placeholder="Password">
		</div>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="submit" value="Sign In" class="btn btn-large btn-primary" />
		</div>
      </form>

    </div>
{%endblock%}
