<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load wysiwyg %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {% block head %}{% endblock %}
    <title>Snatch | {% block title %}Find Your Snatch!{% endblock %}</title>

    <!-- Bootstrap Core CSS -->	
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

	<!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
	<!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        	<div class="navbar-header page-scroll">
				<a class="navbar-brand page-scroll" href="/snatch/">Snatch</a>
          </div>
        <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right  navbar-main-collapse">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                          <li><a href="/snatch/logout/">Logout</a></li>
                          {% load app_filters %}
                          {% if user|has_type:"em" %}
                          <li><a href="/snatch/create_job/">Post Job</a></li>

                          <li><a href="/snatch/company_jobs/"> View Jobs</a></li>
                          {% if not user.registered%}
                          <li><a href="/snatch/create_company_profile">Create Profile</a></li>
                          {%endif%}
                          {% else %}
                          <li><a href="/snatch/profile">Profile</a></li>
                          {% if user.registered%}
                          <li><a href="/snatch/create_user_profile">Create Profile</a></li>
                          {%endif%}
                          <li><a href="/snatch/profile_quiz">Quizzes</a></li>
                          <li><a href="/snatch/jobs">View Jobs</a></li>
                           {% endif %}
                    {% else %}
                        <li><a href="/snatch/register/">Register Here</a></li>
                        <li><a href="/snatch/login/">Login</a></li>
                        {% endif %}
                      </ul>


        </div>

      </div>
    </div>

    <div class="container bg-light-gray">
      <div class="row">
        <div class="col-lg-12">
           <div>
                {% block body_block %}{% endblock %}
           </div>
        </div>
      </div>
    </div>

    <footer>
      {% block footer%}{% endblock%}

      <footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
